.ui-badge {
  font-family: var(--ui-font);
  font-weight: 500;

  border-radius: 100px;
  background-color: var(--ui-color-primary10);
  overflow: hidden;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  gap: 6px;
}

.ui-badge--small {
  height: 22px;
  padding: 0 10px 0 10px;
}

.ui-badge--medium {
  height: 24px;
  padding: 0 12px 0 12px;
}

.ui-badge--large {
  height: 28px;
  padding: 0 14px 0 14px;
}

.ui-badge-svg {
  height: 60%;
  aspect-ratio: 1/1;
}

.ui-badge--primary {
  color: var(--ui-color-primary);
  background-color: var(--ui-color-primary10);

  .ui-badge-svg {
    filter: var(--ui-color-primary-filter);
  }
}

.ui-badge--grey {
  background-color: var(--ui-color-grey10);

  .ui-badge-svg {
    filter: var(--ui-color-grey-filter);
  }
}

.ui-badge--confirm {
  background-color: var(--ui-color-confirm10);

  .ui-badge-svg {
    filter: var(--ui-color-confirm-filter);
  }
}

.ui-badge--alert {
  background-color: var(--ui-color-alert10);

  .ui-badge-svg {
    filter: var(--ui-color-alert-filter);
  }
}

.ui-badge--info {
  background-color: var(--ui-color-info10);

  .ui-badge-svg {
    filter: var(--ui-color-info-filter);
  }
}

.ui-badge--attention {
  background-color: var(--ui-color-attention10);

  .ui-badge-svg {
    filter: var(--ui-color-attention-filter);
  }
}
